
    <div class="card">
        <div class="table-responsive justify-content-center">
            <div class="card-header align-items-center">       
                <div class="row align-items-center" >
                    <div class="col-md-10">
                        <h1>Citas</h1>
                    </div>
                    <div class="container col-md-2 ">
                        <div class="text-center justify-content-center">
                            <a routerLink="/citas/add" class="btn btn-info ">Nuevo Registro</a>
                        </div>
                        
                    </div>
                </div>
    
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table table-striped table-hover table-bordered table-sm bg-white table-sm row-border hover">
                    <thead class="thead-dark">
                      <tr>
                        <td>ID</td>
                        <td>Doctor</td>
                        <td>Paciente</td>
                        <td>Fecha</td>
                        <td>Hora</td>
                        <td>Operaciones</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cita of citas">
                        <td>{{cita.idCita}}</td>
                        <td>{{ObtenerDoctor(cita.idDoctor)}}</td>
                        <td>{{ObtenerPaciente(cita.idPaciente)}}</td>
                        <td>{{cita.fechaCita}}</td>
                        <td>{{cita.horaCita}}</td>
                        <td>
                            <div class="mx-auto">
                                <a [routerLink]="['/citas/edit', cita.idCita]" class="btn btn-secondary">modificar</a>
                                
                                <a class="btn btn-danger btn-delete" (click)="borrarCita(cita.idCita)">eliminar</a>
                            </div>
                                
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>       
    </div>
